.cards {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 75px;
    grid-auto-rows: minmax(0px, 1fr);
}

.pagination {
    display: inline-flex;
    max-width: 500px;
}

.pagBtn {
    margin: auto;
    display: flex;
}

.numberBtn {
    margin: 5px;
}