/* *{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    background: url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1) no-repeat center center fixed;
    background-size: cover;
} */

.card {
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 8px;
    -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    min-height: 30vh;
}

.cardInfo {
    margin: auto;
    padding: 5px;
    width: 100%;
}

.cardImage {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.06);
}

.cardImage img {
    margin: auto;
}

.primaryText {
    color: #d5d5d5;
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

.secondaryText {
    color: #c0c0c0;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0px 0px 0px;
}

.details {
    display: -ms-grid;
    display: grid;
    width: auto;
    height: auto;
    padding: 5px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 0 0 8px 8px;
}

.details>div {
    text-align: center;
}

.card button {
    width: 80%;
    padding: 5px 0;
    margin: 10px 0px;
    /* left: 10%; */
    /* top: 240px; */
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.06);
    /* -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px); */
}

a {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    font-size: 14px;
}

.divider {
    width: 80%;
    background-color: white;
    opacity: 0.1;
    outline: none;
    margin: auto;
}

.genre {
    margin: 5px;
}