.detail {
    padding: 5vw;
}

.heroImage img {
    width: 50vw;
    height: auto;
}

.releaseAndRating {
    display: inline-flex;
    width: 30vw;
}
.releaseAndRating div {
    margin: auto;
}

.releaseAndRating, .name {
    text-decoration: underline 5px #FFEE88;
}

.description {
    text-align: left;
    width: 50vw;
}

.btnWrapper {
    margin-top: 5vh;
}